<div class="row my-5 mx-0">
    <%= render 'shared/left_layout' %>
    <div class="col-lg-6 mt-3 my-lg-auto mx-auto">
        <div class="form logged-out-form">
            <h2 class="text-center pb-4">Sign up</h2>
            <%= render "form", btn_msg: "Create a new account" %>
        </div>
    </div>
</div>
