<% provide(:title, "About Us") %>
<div class="text-center static-page">
    <h2 class="main-header">About Us</h2>
    <p><em>Expand your vocab, one word at a time.</em></p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut est tortor, ultricies ultrices eros eu, aliquam vestibulum augue. Quisque faucibus sit amet mauris in vehicula. Nulla et congue mauris, eget tristique nibh. Morbi dapibus massa est, nec accumsan mauris hendrerit sed. Nulla aliquam diam quis massa mattis, non finibus ex ultricies. Praesent et tempus nisl. Mauris sit amet rutrum urna, nec interdum lectus. In lobortis, ante at vehicula interdum, lacus metus imperdiet enim, sollicitudin faucibus nunc neque et mi.
    </p>
    <p>
        Maecenas non lacinia nibh. Fusce efficitur leo risus, sed mollis quam venenatis ac. Curabitur elit leo, vestibulum scelerisque fermentum id, dictum eget nibh. Aliquam et eleifend dui. Nulla eget justo tempus, aliquet nisi id, consequat lacus. Vivamus id lectus felis. Morbi nec maximus sapien, tempus pellentesque mi.
    </p>
</div>
