<% @word.each do |word| %>
    <div class="col-6 mx-auto">
        <div class="jumbotron mt-4 text-center">
            <h3><%= word.word %></h3>
            <p>Word ID: <%= word.id %></p>

            <% word.choices.each do |choice| %>
                <p><%= choice.choice%></p>

                <%# form_for ([:category, :lessons]) do |f| %>
                    <%# f.radio_button %>
                <%# end %>
            <% end %>
        </div>
    </div>
<% end %>