<div class="row my-5 mx-0">
    <div class="col-6">
        <div class="form">
            <h1 class="text-center pb-4">Create New Category</h1>
            <%= render "form", btn_msg: "Create a new account" %>
        </div>
    </div>
</div>
