<div class="row my-4">
    <div class="col-6"><h1>Admin | Categories</h1></div>
    <div class="col-6">
        <div class="d-flex justify-content-end">
            <%= link_to "Add Word", new_word_path, class: "btn btn-primary" %>
            <%= link_to "Back", categories_path, class: "btn btn-link" %>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Word</th>
            <th>Answer</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <% if @category.words.any? %>
            <tr>
                <td><%= render @words %></td>
                <td>Answer</td>
                <td>Action</td>
            </tr>
        <% end %>
    </tbody>
</table>
